.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    border: 5px solid gray;
    box-shadow: 4px 4px 6px -2px;
}
img {
    width: 100%;
}
.container span, p {
    color: gray;
}
.info {
    padding: 10px;
}

a {
    text-decoration: none;
    color: gray;
}